<script>
    // 3 Minutes
    let timeLeft = 180;

    function updateTimer() {

        const timerEl = document.getElementById("session-timer");

        if (!timerEl) return;

        const minutes = Math.floor(timeLeft / 60);
        const seconds = timeLeft % 60;

        timerEl.textContent =
            String(minutes).padStart(2, "0") +
            ":" +
            String(seconds).padStart(2, "0");

        // Turn red in last 1 minute
        if (timeLeft <= 60) {
            timerEl.classList.remove(
                "bg-orange-100",
                "text-orange-700"
            );

            timerEl.classList.add(
                "bg-red-100",
                "text-red-700"
            );
        }

        if (timeLeft <= 0) {
            window.location.href = "/logout";
        } else {
            timeLeft--;
            setTimeout(updateTimer, 1000);
        }
    }

    // Start countdown
    window.onload = function () {
        updateTimer();
    };

    // Prevent back button after logout
    function preventBack() {
        window.history.forward();
    }

    setTimeout(preventBack, 0);

    window.onunload = function () {
        null;
    };

    // Force reload if user presses back button
    window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>